/* Page */

html {
	scroll-behavior: smooth;
}

.navbar {
	z-index: 9999;
	position: fixed;
	top: 0;
	transition: top 0.3s;
}

/* NavBar */

/* To style the links inside the pill navigation menu */
.pill-nav a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 5px;
}

/* To change the color of links on mouse-over */
.pill-nav a:hover {
	background-color: #00c2cb;
	color: whitesmoke;
	opacity: 0.5;
}

/* To add a color to the active/current link */
.pill-nav a.active {
	background-color: #00c2cb;
	color: white;
}
.navbar {
	position: fixed;
	width: 100%;
}

/* Home Page */

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 85%;
	}
}
@keyframes blinkTextCursor {
	from {
		border-right-color: #00c2cb;
	}
	to {
		border-right-color: transparent;
	}
}
.mainHero {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-style: italic;
	color: darkgreen;
	position: relative;
	top: 100%;
	left: 50%;
	width: 600px;
	margin-top: -200px;
	margin-left: -260px;
	opacity: 0.9;
	padding: 30px;
	border-radius: 400px;
}
.Video_Heading {
	color: black;
	top: -500px;
	left: 100px;
	position: absolute;
	white-space: nowrap;
}
.typewriter {
	color: #00c2cb;
	top: -400px;
	left: 100px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	border-right: .15em solid #00c2cb;
	margin: 0 auto;
	letter-spacing: .03em;
	animation: typewriter .5s steps(8) 1s 1 normal both, blinkTextCursor 750ms steps(100) infinite normal;
}

.mainHero_Home {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-style: italic;
	color: white;

	position: relative;
	top: -150px;
	left: 500px;
	width: 400px;
	height: 122px;
	margin-top: -30;
	margin-left: -500px;
	opacity: 0.8;
	padding: 30px;
	border-radius: 30px;
}
.mainHero_Home_About {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-style: italic;
	color: white;
	background-color: black;
	position: relative;

	left: 500px;
	width: 1000px;
	height: 122px;
	margin-top: -30;
	margin-left: -500px;
	opacity: 1.5;
	padding: 30px;
	border-radius: 30px;
}
.mainHero_Home_Lets_Connect {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-style: italic;
	color: white;
	background-color: black;
	position: relative;
	top: 65px;
	left: 500px;
	width: 1000px;
	height: 122px;
	margin-top: -50;
	margin-left: -500px;
	opacity: 1.5;
	padding: 30px;
	border-radius: 30px;
}
.LZstyle {
	color: green;
	font-family: fantasy;
	font-size: xx-large;
}
.LZstyle:hover {
	color: green;
}

.btn {
	opacity: 0.8;
}

.btn:hover {
	background-color: #e91d27;
}
.nav-link:hover {
	border-bottom: 3px solid #00c2cb;
}

.jumbotron {
	background-repeat: no-repeat;
	height: 130vh;
	background-size: over;
	background-position: center;
	margin-bottom: 0;
}
.jumbotron2 {
	background-color: white;
	height: 50vh;
	margin-bottom: -350px;
}
.jumbotron3 {
	background-color: white;
	height: 75vh;
	padding-left: 100px;
	padding-top: 50px;
	padding-right: 100px;
	padding-bottom: 300px;
	border: #00c2cb solid;
	border-radius: 50px;
	border-width: 1.05rem;
}
.myVideo {
	position: static;
	right: 0;
	bottom: 0;
	min-width: 150%;
	min-height: 100%;
}
.myimage {
	width: 180vh;
	position: relative;
}

.jumbotron_About {
	background-image: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/50763236_10157561199192788_5000973839727853568_o.jpg?_nc_cat=108&_nc_sid=8024bb&_nc_oc=AQnbXVdKwjarqgQH1exKHret6Qs5FkAbOpZoWZDWlSy_K737ibBdDBbwXg1J0o6XyMVpthInjU5MGIlTZ7Yes69L&_nc_ht=scontent-sjc3-1.xx&oh=ed04dbe619cf1e15873c729ed48ee2da&oe=5E96FD88);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: auto;
	margin-bottom: 0;
	opacity: 0.7;
}
.jumbotron_Contact {
	background-image: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/35282195_394049511099580_4244772069046222848_o.jpg?_nc_cat=101&_nc_sid=8024bb&_nc_oc=AQktRKIMsHGXzszgaQNZtBScYzN2ILKvNzlGyUOB5Tfi-bZkofh04ZoiiPXcVERcSy5EHAhxvtfQiAijQE2L7Dvm&_nc_ht=scontent-sjc3-1.xx&oh=5602cb1853c902b31752db8069cd7202&oe=5E990666);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: auto;
	margin-bottom: 0;
	opacity: 0.7;
}

/* About Page */

.about-img {
	position: absolute;
	bottom: 150px;
	top: -150px;
	left: 10px;
	width: 500px;
	height: 500px;
}

.fa-play {
	font-size: 100px;
}

.p-first {
	margin-bottom: 30px;
}

.h2 {
	margin-bottom: 47px;
	margin-top: 12px;
}

.social-link-text {
	margin-top: 50px;
	margin-bottom: 25px;
}
.about-link {
	padding-left: 0px;
}

.about-link li {
	display: inline-block;
}
.about-link li a i {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	border: 1px solid #03989e;
	margin-right: 10px;
	font-size: 22px;
	color: #03989e;
	transition: all .3s;
}
.about-link li a i:hover {
	background-color: #00c2cb;
	opacity: 50%;
}
.color-3 {
	color: #058188;
}
.text-black {
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}
.col-md-7 {
	margin-left: 500px;
	margin-top: -150px;
	margin-bottom: -150px;
}
.p {
	margin-bottom: 0;
	font-size: 16px;
	line-height: 24px;
}
.btn-danger {
	border-radius: 10px;
	padding: 20px 40px;
}
.has-plant {
	overflow: visible;
	position: relative;
}
.align-center {
	text-align: center;
}
.container {
	max-width: 84em;
	margin: 0 auto;
	padding: 0 3em;
}

.has-plant:before {
	left: -1em;
	top: -3.5em;
}
.has-plant:before {
	content: "";
	display: block;
	background-image: url(https://d25qe19fo1nsn4.cloudfront.net/wp-content/themes/base/library/img/bush.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 44.5em;
	width: 24.5em;
	position: absolute;
}

.has-plant:after {
	right: -3.075em;
	top: 18.575em;
}
.has-plant:after {
	content: "";
	display: block;
	background-image: url(https://d25qe19fo1nsn4.cloudfront.net/wp-content/themes/base/library/img/bush.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 44.5em;
	width: 24.5em;
	position: absolute;
}

.mainHero1 {
	text-align: center;
	color: white;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-top: -160;
	margin-left: -700px;
	opacity: 0.8;
	padding: 30px;
}
.LZAbout {
	padding: 50px;
}

.panel {
	background-color: whitesmoke;
	border: 1px solid ivory;
	border-radius: 50px;
	box-shadow: 0 2px 5px rgba(25, 25, 25, .2);
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.panel-padded {
	padding: 15em 1em;
}
.section-text {
	display: block;
	margin-top: 0;
}
.section-title {
	line-height: 1.2;
}
.align-center {
	text-align: center;
}
.section-title {
	font-size: 40.8px;
	font-size: 2.55rem;
	font-weight: 500;
	letter-spacing: -2px;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}
.mb2 {
	margin-bottom: 2em;
}

/* Contact Page  */

.mb3 {
	margin-top: 100px;
	margin-bottom: 100px;
}
.mb4 {
	margin-top: 50px;
}
.btn-primary {
	background-color: #00c2cb;
	border: #00c2cb 5px;
}
.form-group {
	width: 800px;
	margin-top: 2.3em;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-weight: bolder;
	font-size: 1.5rem;
}

.about-img2 {
	position: absolute;
	bottom: 50px;
	top: 0px;
	left: 850px;
	width: 350px;
	height: 350px;
}
